{% extends 'back_base.html.twig' %}

{% block title %}Catégories | ADMIN - Aliex{% endblock %}

{% block content %}
<div id="layoutSidenav_content">
    <div class="container-fluid">
        <h3>Gestion de catégories</h3>
        <hr>
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            <button type="submit">Valider</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}