{% extends 'base.html.twig' %}

{% block title %}Inscription - Aliex{% endblock %}

{% block content %}
    <h2 class="text-center">Inscription</h2>
    <hr>
    {{ form(register_form) }}
{% endblock %}
