{% extends 'base.html.twig' %}

{% block title %}Paiement de ma commande - Aliex{% endblock %}

{% block content %}
<div class="container-fluid pt-4">
    <h2>Paiement réussit !</h2>
</div>
{% endblock %}
