{% extends 'base.html.twig' %}

{% block title %}{{ app.user.username }} - Aliex{% endblock %}

{% block content %}
    <h2>Bonjour {{ app.user.username }} .</h2>
    - Modifier mdp
    - Modifier mes informations
    - Mon panier
    - Mes offres
{% endblock %}
