{% extends 'base.html.twig' %}

{% block title %}Mes offres - Aliex{% endblock %}

{% block content %}
<div class="pt-5">
    <h1 class="d-inline-block">Mes Offres</h1>
    <a class="btn btn-block btn-dark w-25 d-inline-block" style="float:right;" href="{{ path('app_new_product') }}">Ajouter</a>
    <hr>
    <div class="row">
    {% for product in products %}
        {{ component('card', {'id' : product.id}) }}
        {% else %}
        <div class="col-6">
            <p> Vous n'aviez proposer aucune.</p>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
