{% extends 'base.html.twig' %}

{% block title %}Produits - Aliex{% endblock %}

{% block content %}
<div class="pt-3">
    <h1>PRODUITS</h1>
    <div class="row">
        <div class="col-md-3">
            <hr class="w-75">
            <h3>Filtre</h3>
            {{form_start(form)}}
                <div class="w-75">
                    {{form_row(form)}}
                </div>
                <button class="btn btn-dark btn-block w-75" type="submit">Filtrer</button> 
            {{form_end(form)}}
        </div>
        <div class="col-md-9">
            <div class="row justify-content-between">
                {% for product in products %}
                    {{ component('card', {'id' : product.id}) }}
                {% else %}
                    <p> Aucun produit disponible.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}